body {
    font-family: Cursive;
    color: #FFF;
    background-color: #6f6f6f;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #1F2833;
    color:white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color:white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover{
    text-decoration: underline;
}

main{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

footer{
    background-color:#1F2833;
    color: #66FCF1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

p{
    font-size: 1.1em;
}

a {
    color: #41caf4;
    text-decoration: none;
}

img {
    border: 5px solid #1F2833;
    border-radius: 10px;
}

main a[href^="mailto:"] {
    color: #42be3f;
    font-weight: bold;
}
